docs/reference/md2gdoc/docs/reference/obsidian-to-gdocs-n8n-workflow.json
{
  "name": "Obsidian → Google Docs (draft)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GQXuls-IcN_OY1kw5jlq9FB8ksbc8eNK",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "8099d609-a532-4093-9f37-e17e043cd5e2",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHZb6YLR6eafFtBW",
          "name": "Google Drive bazaznaniy"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.name}}",
              "operation": "endsWith",
              "value2": ".md"
            }
          ]
        }
      },
      "id": "2f008b13-410b-44e6-bba7-ae361d72b4b0",
      "name": "Filter .md files",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -576,
        128
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e88f5cf9-d783-4334-9879-eb66ab4f9ef7",
      "name": "Download .md file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHZb6YLR6eafFtBW",
          "name": "Google Drive bazaznaniy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// ФИНАЛЬНАЯ ВЕРСИЯ v3.0 - ПРЯМОЙ HTML\n// Простые HTML таблицы БЕЗ стилей\n// ========================================\n\n// ========================================\n// КОНСТАНТЫ CALLOUTS (только иконки и заголовки)\n// ========================================\n\nconst CALLOUT_STYLES = {\n  note: { title: 'Заметка', emoji: '📝' },\n  info: { title: 'Информация', emoji: 'ℹ️' },\n  important: { title: 'Важно', emoji: '🔥' },\n  tip: { title: 'Совет', emoji: '💡' },\n  warning: { title: 'Внимание', emoji: '⚠️' },\n  danger: { title: 'Опасно', emoji: '⛔' },\n  question: { title: 'Вопрос', emoji: '❓' },\n  success: { title: 'Успех', emoji: '✅' },\n  quote: { title: 'Цитата', emoji: '💬' },\n  failure: { title: 'Ошибка', emoji: '❌' },\n  abstract: { title: 'Резюме', emoji: '📄' },\n  summary: { title: 'Итоги', emoji: '📋' }\n};\n\n// Алиасы\nCALLOUT_STYLES['tldr'] = CALLOUT_STYLES['summary'];\nCALLOUT_STYLES['check'] = CALLOUT_STYLES['success'];\nCALLOUT_STYLES['done'] = CALLOUT_STYLES['success'];\nCALLOUT_STYLES['fail'] = CALLOUT_STYLES['failure'];\nCALLOUT_STYLES['missing'] = CALLOUT_STYLES['failure'];\nCALLOUT_STYLES['caution'] = CALLOUT_STYLES['warning'];\nCALLOUT_STYLES['attention'] = CALLOUT_STYLES['warning'];\nCALLOUT_STYLES['help'] = CALLOUT_STYLES['question'];\nCALLOUT_STYLES['faq'] = CALLOUT_STYLES['question'];\nCALLOUT_STYLES['cite'] = CALLOUT_STYLES['quote'];\nCALLOUT_STYLES['error'] = CALLOUT_STYLES['danger'];\n\n// ========================================\n// ФУНКЦИЯ: Простая HTML таблица для каллаута\n// ========================================\n\n/**\n * Генерирует простую HTML-таблицу БЕЗ CSS стилей\n * Нода \"Markdown to HTML\" пропустит её как есть\n * Google Docs отобразит как обычную таблицу\n * @param {string} type - Тип каллаута\n * @param {string} title - Заголовок (опционально)\n * @param {string} content - Содержимое\n * @returns {string} HTML таблица\n */\nfunction generateCalloutHTML(type, title, content) {\n  const style = CALLOUT_STYLES[type.toLowerCase()] || CALLOUT_STYLES['note'];\n  const displayTitle = title || style.title;\n  \n  // ЧИСТЫЙ HTML БЕЗ стилей - только структура\n  // Google Docs понимает базовые HTML таблицы\n  return `\n<table>\n<tr>\n<td><strong>${style.emoji} ${displayTitle}</strong></td>\n</tr>\n<tr>\n<td>${content}</td>\n</tr>\n</table>\n`;\n}\n\n// ========================================\n// ФУНКЦИЯ: Конвертация каллаутов Obsidian\n// ========================================\n\n/**\n * Конвертирует каллауты Obsidian в HTML таблицы\n * @param {string} markdown - Markdown текст\n * @returns {string} Markdown с HTML таблицами вместо каллаутов\n */\nfunction convertCalloutToHTML(markdown) {\n  // Паттерн для каллаутов Obsidian\n  const calloutRegex = /^>\\s*\\[!(\\w+)\\]\\s*(.*?)\\n((?:^>.*$\\n?)*)/gm;\n  \n  return markdown.replace(calloutRegex, (match, type, title, content) => {\n    // Убираем символ > в начале строк контента\n    const cleanContent = content.replace(/^>\\s?/gm, '').trim();\n    return generateCalloutHTML(type, title, cleanContent);\n  });\n}\n\n// ========================================\n// ФУНКЦИЯ: Конвертация тегов (простая версия)\n// ========================================\n\n/**\n * Конвертирует теги в жирный текст с решёткой\n * @param {string} text - Текст с тегами\n * @returns {string} Текст с жирными тегами\n */\nfunction convertTagsToHTML(text) {\n  // Паттерн для тегов (избегаем заголовки #)\n  const tagRegex = /(?<![#\\w])#([а-яА-Яa-zA-Z0-9_-]+)/g;\n  \n  return text.replace(tagRegex, (match, tag) => {\n    return `**#${tag}**`;\n  });\n}\n\n// ========================================\n// ОСНОВНАЯ ОБРАБОТКА\n// ========================================\n\nfor (const item of $input.all()) {\n  let markdown = '';\n  \n  // Читаем файл\n  try {\n    const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n    markdown = binaryData.toString('utf-8');\n  } catch (error) {\n    if (item.binary && item.binary.data && item.binary.data.data) {\n      markdown = item.binary.data.data.toString('utf-8');\n    } else {\n      throw new Error('Не удалось прочитать содержимое файла: ' + error.message);\n    }\n  }\n  \n  // 1. Конвертируем каллауты в HTML таблицы\n  markdown = convertCalloutToHTML(markdown);\n  \n  // 2. Конвертируем теги в жирный текст\n  markdown = convertTagsToHTML(markdown);\n  \n  // Возвращаем обработанный markdown\n  item.json.processedMarkdown = markdown;\n  item.json.originalName = item.json.name.replace(/\\.md$/, '');\n}\n\nreturn $input.all();"
      },
      "id": "5d1691c0-cfc8-4d8a-98e7-94be0ac99113",
      "name": "Process Callouts & Tags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        128
      ]
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{$json.processedMarkdown}}",
        "destinationKey": "html",
        "options": {}
      },
      "id": "e0c16d0e-9904-4bf4-9db6-998b268f75d0",
      "name": "Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        16,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Topaz-Nord заголовки\nconst HEADER_COLORS = {\n  h1: '#BF616A',\n  h2: '#D08770',\n  h3: '#EBCB8B',\n  h4: '#A3BE8C',\n  h5: '#88C0D0',\n  h6: '#B48EAD'\n};\n\nconst HEADER_SIZES = {\n  h1: '24pt',\n  h2: '20pt',\n  h3: '16pt',\n  h4: '14pt',\n  h5: '12pt',\n  h6: '11pt'\n};\n\nfor (const item of $input.all()) {\n  let html = item.json.html;\n  \n  // Добавляем стили к заголовкам\n  for (let i = 1; i <= 6; i++) {\n    const color = HEADER_COLORS[`h${i}`];\n    const size = HEADER_SIZES[`h${i}`];\n    \n    // Применяем стили к заголовкам (с шрифтом Roboto для строгости)\n    const headerRegex = new RegExp(`<h${i}([^>]*)>(.*?)</h${i}>`, 'gi');\n    html = html.replace(headerRegex, `<h${i} style=\"color: ${color}; font-size: ${size}; font-weight: bold; font-family: Roboto, Arial, sans-serif; margin: 1em 0 0.5em 0;\">$2</h${i}>`);\n  }\n  \n  // Оборачиваем в базовый HTML документ\n  const fullHTML = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Основной текст - Nunito для читаемости */\n    body {\n      font-family: Nunito, Roboto, Arial, sans-serif;\n      line-height: 1.6;\n      max-width: 800px;\n      margin: 0 auto;\n      padding: 20px;\n      color: #333;\n    }\n    \n    /* Кодовые вставки - моноширинный шрифт */\n    code {\n      background-color: #f4f4f4;\n      padding: 2px 6px;\n      border-radius: 3px;\n      font-family: 'Roboto Mono', 'Courier New', monospace;\n      font-size: 0.9em;\n    }\n    \n    pre {\n      background-color: #f4f4f4;\n      padding: 12px;\n      border-radius: 4px;\n      overflow-x: auto;\n      font-family: 'Roboto Mono', 'Courier New', monospace;\n    }\n    \n    pre code {\n      background: none;\n      padding: 0;\n    }\n    \n    table {\n      border-collapse: collapse;\n      width: 100%;\n      margin: 16px 0;\n    }\n    \n    th, td {\n      border: 1px solid #ddd;\n      padding: 8px 12px;\n      text-align: left;\n    }\n    \n    th {\n      background-color: #f8f8f8;\n      font-weight: bold;\n    }\n    \n    blockquote {\n      border-left: 4px solid #ccc;\n      margin: 16px 0;\n      padding: 8px 16px;\n      background-color: #f9f9f9;\n    }\n    \n    ul, ol {\n      padding-left: 24px;\n    }\n    \n    li {\n      margin: 4px 0;\n    }\n  </style>\n</head>\n<body>\n${html}\n</body>\n</html>`;\n  \n  item.json.finalHTML = fullHTML;\n}\n\nreturn $input.all();"
      },
      "id": "f008e7b3-9dbe-4103-9a06-a29c4cdac53d",
      "name": "Add Header Colors & Styling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1GQXuls-IcN_OY1kw5jlq9FB8ksbc8eNK",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "534da15d-5398-4073-a3fd-5e325c288cda",
      "name": "Google Drive Trigger1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHZb6YLR6eafFtBW",
          "name": "Google Drive bazaznaniy"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMzlmY2MxM2E2MjkyYWMwOTRlMDQ2NWNiYWI5MDQ5ZTdiNmMxOTU4Mjg3ZjAwNTY2NjlmNTVlOTAxOGFkMDJlOTA0MzI4MzI4OWNhMTRjZTQiLCJpYXQiOjE3NjAzNzczMjcuODgxNjE3LCJuYmYiOjE3NjAzNzczMjcuODgxNjE4LCJleHAiOjQ5MTYwNTA5MjcuODc1NDI1LCJzdWIiOiI3MzE3NDYyMSIsInNjb3BlcyI6WyJ0YXNrLndyaXRlIiwidGFzay5yZWFkIl19.n42t-QGjO8RRhG8ll7u1LtDcIb7cJWxWI00QG21EnEA7yCA0ovpEIZHwaLXfWE5rs0eYrCPmyzzN9LlwFu4z2nP0suesB35FWF6YI6L2hBKdsvWpUDf6AsqjZ-J97hmqm5YcVNu2fSq5NZUI-oVnB_ICQo5ZzVRa6PAh7q6duT-hGNkG6zI8oxQ_k6dVSpmuDSXt6dwaL8VIkMv20ZOX43j___FTbQ9Gnikr1WA9P_DHziH_0SMe47FfdCTU3i7l3YrP1cR7KmTTwenvgWc4033Q_aI5an9YSdUiK5iCINOmOdXWTDkzPeeMM_Hdvhxodrf4jkavCrE5xTxu4K92Wihpw-jA8lVXRInoTV4YGSsxwod1Xc_Tk_Kj-5z_ZMbGzJQXOK-p_cXLksZ96VOVS1cJ5T5Vw2CHtV0h6kW18eaLll7zEwy7IwE6cyHavhi27tA9u20RM_HO20TmGmB-bGNo8ldBiCfEnja2HotPeLiE-IChZpZpvveQRQt_DWBniaTHaMmXuMSbUy9pjIIuga6s3wPI4biCj4oq_PljEZ_SWcqSE-ZD9rVBP0ASi344GP4ht_XYZRbMgc2zYrKSwdar7_EvM3ExnUXYgYql7XIvKK3jc7R6j-RuUcxcceTts2rQ9vlht8QQR7U6tMIsvEG00j1nclxKyERlLpifWNY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cloudConvertPayload }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -912
      ],
      "id": "314c3929-db80-4f50-81c2-2b79ce833486",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // 1. Конвертируем HTML в base64\n  const htmlBuffer = Buffer.from(item.json.finalHTML, 'utf-8');\n  const base64HTML = htmlBuffer.toString('base64');\n  \n  // 2. Собираем ВЕСЬ JSON payload для CloudConvert\n  const cloudConvertPayload = {\n    \"tasks\": {\n      \"import-html\": {\n        \"operation\": \"import/base64\",\n        \"file\": base64HTML,\n        \"filename\": item.json.originalName + \".html\"\n      },\n      \"convert-to-docx\": {\n        \"operation\": \"convert\",\n        \"input\": \"import-html\",\n        \"output_format\": \"docx\"\n      },\n      \"export-file\": {\n        \"operation\": \"export/url\",\n        \"input\": \"convert-to-docx\"\n      }\n    },\n    \"tag\": \"n8n-obsidian\"\n  };\n  \n  // 3. Сохраняем готовый payload\n  item.json.cloudConvertPayload = cloudConvertPayload;\n  \n  // Также сохраняем оригинальные данные\n  item.json.outputFileName = item.json.originalName + \".docx\";\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -912
      ],
      "id": "3c4d302f-bc0d-4279-a9e4-444cac24023e",
      "name": "Prepare for CloudConvert"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const jobData = item.json?.data;\n  if (!jobData) {\n    throw new Error('В item.json отсутствует поле data с информацией о job CloudConvert');\n  }\n\n  item.json.jobId = jobData.id;\n  item.json.jobStatus = jobData.status;\n\n  const tasks = Array.isArray(jobData.tasks) ? jobData.tasks : [];\n  const exportTask = tasks.find(t => t.name === 'export-file');\n  item.json.exportTaskId = exportTask ? exportTask.id : null;\n\n  item.json.finalFileName = item.json.originalName || jobData.id || 'converted';\n}\n\nreturn items;"
      },
      "id": "60c7cfe3-e16e-47a7-a583-2e31a701af20",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -912
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const jobId = item.json.jobId;\n  const apiKey = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMzlmY2MxM2E2MjkyYWMwOTRlMDQ2NWNiYWI5MDQ5ZTdiNmMxOTU4Mjg3ZjAwNTY2NjlmNTVlOTAxOGFkMDJlOTA0MzI4MzI4OWNhMTRjZTQiLCJpYXQiOjE3NjAzNzczMjcuODgxNjE3LCJuYmYiOjE3NjAzNzczMjcuODgxNjE4LCJleHAiOjQ5MTYwNTA5MjcuODc1NDI1LCJzdWIiOiI3MzE3NDYyMSIsInNjb3BlcyI6WyJ0YXNrLndyaXRlIiwidGFzay5yZWFkIl19.n42t-QGjO8RRhG8ll7u1LtDcIb7cJWxWI00QG21EnEA7yCA0ovpEIZHwaLXfWE5rs0eYrCPmyzzN9LlwFu4z2nP0suesB35FWF6YI6L2hBKdsvWpUDf6AsqjZ-J97hmqm5YcVNu2fSq5NZUI-oVnB_ICQo5ZzVRa6PAh7q6duT-hGNkG6zI8oxQ_k6dVSpmuDSXt6dwaL8VIkMv20ZOX43j___FTbQ9Gnikr1WA9P_DHziH_0SMe47FfdCTU3i7l3YrP1cR7KmTTwenvgWc4033Q_aI5an9YSdUiK5iCINOmOdXWTDkzPeeMM_Hdvhxodrf4jkavCrE5xTxu4K92Wihpw-jA8lVXRInoTV4YGSsxwod1Xc_Tk_Kj-5z_ZMbGzJQXOK-p_cXLksZ96VOVS1cJ5T5Vw2CHtV0h6kW18eaLll7zEwy7IwE6cyHavhi27tA9u20RM_HO20TmGmB-bGNo8ldBiCfEnja2HotPeLiE-IChZpZpvveQRQt_DWBniaTHaMmXuMSbUy9pjIIuga6s3wPI4biCj4oq_PljEZ_SWcqSE-ZD9rVBP0ASi344GP4ht_XYZRbMgc2zYrKSwdar7_EvM3ExnUXYgYql7XIvKK3jc7R6j-RuUcxcceTts2rQ9vlht8QQR7U6tMIsvEG00j1nclxKyERlLpifWNY';\n  \n  // Максимум 30 попыток (5 минут)\n  let maxAttempts = 30;\n  let attempt = 0;\n  let jobFinished = false;\n  let jobData = null;\n  \n  console.log(`[CloudConvert] Начинаем ожидание завершения job: ${jobId}`);\n  \n  while (attempt < maxAttempts && !jobFinished) {\n    // Ждем 10 секунд между запросами\n    await new Promise(resolve => setTimeout(resolve, 10000));\n    \n    console.log(`[CloudConvert] Попытка ${attempt + 1}/${maxAttempts}`);\n    \n    // Проверяем статус job используя встроенный helper n8n\n    try {\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://api.cloudconvert.com/v2/jobs/${jobId}`,\n        headers: {\n          'Authorization': `Bearer ${apiKey}`\n        },\n        json: true\n      });\n      \n      jobData = response.data;\n      console.log(`[CloudConvert] Статус: ${jobData.status}`);\n      \n      if (jobData.status === 'finished') {\n        jobFinished = true;\n        console.log('[CloudConvert] ✅ Job завершен успешно!');\n      } else if (jobData.status === 'error') {\n        throw new Error(`CloudConvert job failed: ${jobData.message}`);\n      }\n      \n    } catch (error) {\n      console.error(`[CloudConvert] Ошибка при проверке статуса:`, error.message);\n      throw error;\n    }\n    \n    attempt++;\n  }\n  \n  if (!jobFinished) {\n    throw new Error('CloudConvert job timeout - превышено время ожидания (5 минут)');\n  }\n  \n  // Извлекаем URL скачивания\n  const exportTask = jobData.tasks.find(task => task.name === 'export-file');\n  \n  if (!exportTask || !exportTask.result || !exportTask.result.files || exportTask.result.files.length === 0) {\n    throw new Error('Export task не содержит файлов');\n  }\n  \n  const downloadUrl = exportTask.result.files[0].url;\n  console.log(`[CloudConvert] 📥 URL для скачивания: ${downloadUrl}`);\n  \n  item.json.docxDownloadUrl = downloadUrl;\n  item.json.docxFileName = item.json.finalFileName + '.docx';\n}\n\nreturn $input.all();"
      },
      "id": "2f5b2483-5684-4446-a721-62ab6071c34d",
      "name": "Wait and Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -912
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.docxDownloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7c91a71d-abed-43ff-a974-37e0ffe0b644",
      "name": "Download DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        -912
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Download .md file').item.json.name }}",
        "driveId": "My Drive",
        "folderId": "1fmzG2wK6hd0O0oSt07_27bXuZ4ff0WvN",
        "options": {}
      },
      "id": "7681db9a-c574-452e-807d-f91ded025bf2",
      "name": "Upload DOCX to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        -912
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vHZb6YLR6eafFtBW",
          "name": "Google Drive bazaznaniy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вариант 1 (через cloudconvert)\n\nПолностью работает, но дорого",
        "height": 336,
        "width": 1376,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        -1040
      ],
      "id": "ec43569e-7259-4a00-91a1-c4f3cf9f48fe",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Google Drive Trigger1": [
      {
        "json": {
          "parents": [
            "1GQXuls-IcN_OY1kw5jlq9FB8ksbc8eNK"
          ],
          "lastModifyingUser": {
            "displayName": "lel.roman",
            "kind": "drive#user",
            "me": false,
            "permissionId": "01428921690500861983",
            "emailAddress": "lel.roman@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUJgSrd12-zd_BdrJ-9Wxg9KPVKESn8FxfkxyAv__m0-M-5jWimtg=s64"
          },
          "owners": [
            {
              "displayName": "lel.roman",
              "kind": "drive#user",
              "me": false,
              "permissionId": "01428921690500861983",
              "emailAddress": "lel.roman@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUJgSrd12-zd_BdrJ-9Wxg9KPVKESn8FxfkxyAv__m0-M-5jWimtg=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "10332059319031146046",
              "type": "user",
              "emailAddress": "bazaznaniy.storage@gmail.com",
              "role": "writer",
              "displayName": "База Знаний",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJj1Z0FKBvVxkBE4H1Y14aJ2T19sSxl_fVqny_2SeSrtsWJFIo=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "00602157686927789031",
              "type": "user",
              "emailAddress": "ester2165@gmail.com",
              "role": "writer",
              "displayName": "ester2165",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjX3OGmZQNe5wUNz8Yon3htq5KFycGyXoOQOF7JmHw8r3VCjirY=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "01428921690500861983",
              "type": "user",
              "emailAddress": "lel.roman@gmail.com",
              "role": "owner",
              "displayName": "lel.roman",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjUJgSrd12-zd_BdrJ-9Wxg9KPVKESn8FxfkxyAv__m0-M-5jWimtg=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeItemDownloadRestriction": false,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": true,
            "canCopy": true,
            "canDelete": false,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": false,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": false,
            "canUntrash": false
          },
          "permissionIds": [
            "10332059319031146046",
            "00602157686927789031",
            "01428921690500861983"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1vSi-CIaLUxZCHaWWVeMsUkqCEAgGqTIC",
          "name": "Тест форматирования - полный.md",
          "mimeType": "text/markdown",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "75",
          "webContentLink": "https://drive.google.com/uc?id=1vSi-CIaLUxZCHaWWVeMsUkqCEAgGqTIC&export=download",
          "webViewLink": "https://drive.google.com/file/d/1vSi-CIaLUxZCHaWWVeMsUkqCEAgGqTIC/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/text/markdown",
          "hasThumbnail": false,
          "thumbnailVersion": "0",
          "viewedByMe": true,
          "viewedByMeTime": "2025-10-13T19:51:58.371Z",
          "createdTime": "2025-10-13T11:46:36.797Z",
          "modifiedTime": "2025-10-14T07:18:36.523Z",
          "modifiedByMe": false,
          "shared": true,
          "ownedByMe": false,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "%d0%a2%d0%b5%d1%81%d1%82%20%d1%84%d0%be%d1%80%d0%bc%d0%b0%d1%82%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d1%8f%20-%20%d0%bf%d0%be%d0%bb%d0%bd%d1%8b%d0%b9.md",
          "fullFileExtension": "md",
          "fileExtension": "md",
          "md5Checksum": "27842803965f6983a3e682ee7c082bdf",
          "sha1Checksum": "f535f648ac3cf0997965273ba1953c161a3ebed0",
          "sha256Checksum": "c6ea2f874d95d2a7c5303e0fd326b9415291efd32ff30fd443215c68e2924377",
          "size": "10286",
          "quotaBytesUsed": "10286",
          "headRevisionId": "0B17v1Q3tWaEFaFF2R3BwUm9OeFp5WEhTWkFycloyYjQxd3pZPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter .md files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter .md files": {
      "main": [
        [
          {
            "node": "Download .md file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download .md file": {
      "main": [
        [
          {
            "node": "Process Callouts & Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Callouts & Tags": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "Add Header Colors & Styling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Header Colors & Styling": {
      "main": [
        [
          {
            "node": "Prepare for CloudConvert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Filter .md files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for CloudConvert": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Wait and Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait and Check Status": {
      "main": [
        [
          {
            "node": "Download DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download DOCX": {
      "main": [
        [
          {
            "node": "Upload DOCX to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "803cec99-c90a-4bc1-9eb4-7b9fce8adbd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75938301ae0233da75168e3daf3ae911416bb7ec32842d720f181c932a135633"
  },
  "id": "SonJoLYW7deVPyRx",
  "tags": []
}